# 第2章: UNIXコマンド

## 10. 行数のカウント
行数をカウントせよ．確認にはwcコマンドを用いよ．

In [4]:
!wc -l popular-names.txt

    2779 popular-names.txt

## 11. タブをスペースに置換
タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

In [32]:
# sed
!cat ./popular-names.txt | sed -e "s/\t/ /g"  | head -n 10

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabe h	F	1939	1880
Minnie	F	1746	1880
Margare 	F	1578	1880
Ida	F	1472	1880
Alice	F	1414	1880
Ber ha	F	1320	1880
Sarah	F	1288	1880
sed: stdout: Broken pipe

In [33]:
# tr
!cat ./popular-names.txt |  tr '\t' ' '  | head -n 10

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
Margaret F 1578 1880
Ida F 1472 1880
Alice F 1414 1880
Bertha F 1320 1880
Sarah F 1288 1880

## 12. 1列目をcol1.txtに，2列目をcol2.txtに保存
各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．

In [5]:
!cut -f 1 ./popular-names.txt > col1.txt

In [7]:
!cut -f 2 ./popular-names.txt > col2.txt

## 13. col1.txtとcol2.txtをマージ
12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．

In [20]:
!paste col[1-2].txt > marge.txt

## 14. 先頭からN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ．

In [11]:
!head -n 5 popular-names.txt

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880
Minnie	F	1746	1880

## 15. 末尾のN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ．

In [12]:
!tail -n 5 popular-names.txt

Benjamin	M	13381	2018
Elijah	M	12886	2018
Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

## 16. ファイルをN分割する
自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ．

In [18]:
!split -l 1000 popular-names.txt popular-names-

In [19]:
!rm popular-names-*

## 17. １列目の文字列の異なり
1列目の文字列の種類（異なる文字列の集合）を求めよ．確認にはcut, sort, uniqコマンドを用いよ．

In [31]:
# 連続していない場合 uniq にならない
# そのため sort を用いる
!cut -f 1 ./popular-names.txt | sort | uniq | head -n 10

Abigail
Aiden
Alexander
Alexis
Alice
Amanda
Amelia
Amy
Andrew
Angela

## 18. 各行を3コラム目の数値の降順にソート
各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）．確認にはsortコマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）

In [30]:
!sort -k 3 -t "\t" -r popular-names.txt | head -n 10

Betty	F	38234	1930
Betty	F	36675	1929
Betty	F	36105	1931
Betty	F	36080	1928
Betty	F	35422	1927
Betty	F	34417	1932
Betty	F	32964	1926
Betty	F	32813	1925
Betty	F	31526	1933
Betty	F	31085	1934
sort: Broken pipe

## 19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる
各行の1列目の文字列の出現頻度を求め，その高い順に並べて表示せよ．確認にはcut, uniq, sortコマンドを用いよ．

In [ ]:
! !cut -f 1 ./popular-names.txt | sort |